@import url("https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap");

:root {
--cor-principal:rgba(208, 12, 12, 0.592) ;
--cor-secundaria:hwb(119 8% 19% / 0.533) ;
--cor-destaque:#7739b980 ;
}

body {
    font-family: 'WDXL Lubrifont TC, sans-serif';
    color: var(--cor-principal);
}

h1, h2, h5 {
color: var(--cor-secundaria);
font-weight: 700;
}

.Lead, .btn-Link {
    color: var(--cor-destaque);
    font-weight: 700;
    
}

a, .btn-Link:hover {
    color: var(--cor-principal);
}

a:hover {
color: var(--cor-destaque);
}