@import url("https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap");

:root {
--cor-principal:rgba(33, 181, 192, 0.592) ;
--cor-secundaria:hwb(206 5% 60% / 0.533) ;
--cor-destaque:#7739b980 ;
}

body {
    font-family: 'WDXL Lubrifont TC, sans-serif';
}

h1, h2, h5 {
color: var(--cor-secundaria);
font-weight: 700;
}

footer a {
    color: var(--cor-principal);
}

footer a:hover {
color: var(--cor-destaque);
}